* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/slis/incite/BiomedicalSentenceGenerator.java -text
src/main/java/edu/uiowa/slis/incite/ConnectionCacheMonitor.java -text
src/main/java/edu/uiowa/slis/incite/ConnectionFactory.java -text
src/main/java/edu/uiowa/slis/incite/ConnectionGenerator.java -text
src/main/java/edu/uiowa/slis/incite/Fragmenter.java -text
src/main/java/edu/uiowa/slis/incite/FragmenterThread.java -text
src/main/java/edu/uiowa/slis/incite/HTMLCrawler.java -text
src/main/java/edu/uiowa/slis/incite/HTMLFragmenter.java -text
src/main/java/edu/uiowa/slis/incite/HTMLParser.java -text
src/main/java/edu/uiowa/slis/incite/InCiteDecorator.java -text
src/main/java/edu/uiowa/slis/incite/InCiteInstantiator.java -text
src/main/java/edu/uiowa/slis/incite/JSoupCrawler.java -text
src/main/java/edu/uiowa/slis/incite/LocalProperties.java -text
src/main/java/edu/uiowa/slis/incite/MemoizedVisitedMonitor.java -text
src/main/java/edu/uiowa/slis/incite/PageIndexer.java -text
src/main/java/edu/uiowa/slis/incite/PageMapper.java -text
src/main/java/edu/uiowa/slis/incite/PropertyLoader.java -text
src/main/java/edu/uiowa/slis/incite/QueueDomain.java -text
src/main/java/edu/uiowa/slis/incite/QueueManager.java -text
src/main/java/edu/uiowa/slis/incite/QueueRequest.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/InCite.clay -text
src/non-packaged-resources/InCite.sql -text
src/non-packaged-resources/entity.sql -text
src/non-packaged-resources/misc.sql -text
src/test/java/InCite/README.txt -text
src/test/resources/README.txt -text
